* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  display: none;
}
body {
  font-family: cursive;
  display: flex;
  min-height: 100vh;
}
aside {
  width: 25%;
  min-width: 120px;
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  padding: 4rem 0.5rem;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
textarea {
  resize: none;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 5px;
  padding: 0.5rem;
  outline: none;
  background-color: rgb(200, 231, 233);
  color: rgb(245, 124, 10);
}
textarea::placeholder {
  font-size: 0.8rem;
  color: rgb(33, 145, 153);
}
textarea {
  background-color: #fbeee0;
  border: 2px solid #422800;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  resize: none;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 30px;
  padding: 0.5rem;
  height: 150px;
  
}

textarea:hover {
  background-color: #fff;
}

textarea:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}
input {
  width: 80px;
  height: 40px;
  outline: none;
  margin-bottom: 1rem;
}

form img {
  width: 80px;
}

form button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  color: #fff;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  padding-left: 16px;
  padding-right: 16px;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

form button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

form button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

form button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
main {
  width: 75%;
  min-height: 100vh;
  padding: 16px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  align-content: flex-start;
  background-image: url(./kraft.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.myNote {
  padding: 16px;
  padding-bottom: 32px;
  width: 200px;
  min-height: 150px;
  transform: rotate(8deg) translate(20px, 10px);
  color: rgb(63, 61, 61);
  font-size: 1rem;
  font-weight: 600;
  position: relative;
  text-overflow: ellipsis;
  border-radius: 5px;
  box-shadow: -20px 34px 30px -6px rgba(71, 71, 71, 1);
  word-wrap: break-word;
}
.myNote p {
  font-size: 1.12rem;
  color: black;
}
.pin {
  position: absolute;
  top: 0;
  left: 10px;
}
.myNote button {
  background: transparent;
  border-radius: 5px;
  border: 1px solid brown;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #e2cb98 0 -3px 0 inset;
  font-weight: 600;
  bottom: 10px;
  width: 20px;
}
.myNote button:focus {
  box-shadow: #ebdc99 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #e7d999 0 -3px 0 inset;
}
.myNote button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #f1dbaa 0 -3px 0 inset;
  transform: translateY(-2px);
}

.myNote button:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

.deleteBtn {
  position: absolute;
  right: 10px;
}
.EditBtn {
  position: absolute;
  right: 32px;
}
.saveBtn {
  position: absolute;
  right: 10px;

  display: none;
}
h4{
  margin-top: 1rem;
    font-size: 0.6rem;
    color: rgb(46, 29, 8);
    text-align: center;
 }
h4 span a{
    color: rgb(255, 0, 0);
    font-size: 0.8rem;
    transition: all 0.6s ease-in-out;
 }
 span a:hover {
    font-size: 2rem;
 }
@media screen and (max-width: 475px) {
  body {
    flex-direction: column;
  }
  aside {
    width: 100%;
    padding: 1rem;
  }
  textarea {
    height: 80px;
  }
  main {
    width: 100%;
  }
  h4{
  }
}
